mixin nav( activePage )
	.created-by
		.created-text
			| Crafted with
		.heart
		.created-text
			| by&nbsp;
		a( href='http://twitter.com/_rywar' )
			| @_rywar
	.nav-toggle
	.nav
		.main-characters
			a.nav-item( href='/goku.html', class=activePage === "goku" ? "selected" : "" )
				| Goku
			a.nav-item( href='/vegeta.html', class=activePage === "vegeta" ? "selected" : "" )
				| Vegeta
			a.nav-item( href='/krillin.html', class=activePage === "krillin" ? "selected" : "" )
				| Krillin
			a.nav-item( href='/tien.html', class=activePage === "tien" ? "selected" : "" )
				| Tien
			a.nav-item( href='/piccolo.html', class=activePage === "piccolo" ? "selected" : "" )
				| Piccolo
			a.nav-item( href='/gohan.html', class=activePage === "gohan" ? "selected" : "" )
				| Gohan
			a.nav-item( href='/goten.html', class=activePage === "goten" ? "selected" : "" )
				| Goten
			a.nav-item( href='/frieza.html', class=activePage === "frieza" ? "selected" : "" )
				| Frieza
			a.nav-item( href='/trunks.html', class=activePage === "trunks" ? "selected" : "" )
				| Trunks
			a.nav-item( href='/cell.html', class=activePage === "cell" ? "selected" : "" )
				| Cell
			a.nav-item( href='/buu.html', class=activePage === "buu" ? "selected" : "" )
				| Buu
		.everyone-else
			a.nav-item( href='/android-16.html', class=activePage === "android-16" ? "selected" : "" )
				| Android 16
			a.nav-item( href='/android-17.html', class=activePage === "android-17" ? "selected" : "" )
				| Android 17
			a.nav-item( href='/android-18.html', class=activePage === "android-18" ? "selected" : "" )
				| Android 18
			a.nav-item( href='/babidi.html', class=activePage === "babidi" ? "selected" : "" )
				| Babidi
			a.nav-item( href='/bardock.html', class=activePage === "bardock" ? "selected" : "" )
				| Bardock
			a.nav-item( href='/baby-vegeta.html', class=activePage === "baby-vegeta" ? "selected" : "" )
				| Baby Vegeta
			a.nav-item( href='/broly.html', class=activePage === "broly" ? "selected" : "" )
				| Broly
			a.nav-item( href='/bubbles.html', class=activePage === "bubbles" ? "selected" : "" )
				| Bubbles
			a.nav-item( href='/dabura.html', class=activePage === "dabura" ? "selected" : "" )
				| Dabura
			a.nav-item( href='/dende.html', class=activePage === "dende" ? "selected" : "" )
				| Dende
			a.nav-item( href='/dr-gero.html', class=activePage === "dr-gero" ? "selected" : "" )
				| Dr. Gero
			a.nav-item( href='/ginyu.html', class=activePage === "ginyu" ? "selected" : "" )
				| Ginyu
			a.nav-item( href='/gogeta.html', class=activePage === "gogeta" ? "selected" : "" )
				| Gogeta
			a.nav-item( href='/gotenks.html', class=activePage === "gotenks" ? "selected" : "" )
				| Gotenks
			a.nav-item( href='/vegetto.html', class=activePage === "vegetto" ? "selected" : "" )
				| Vegetto
			a.nav-item( href='/guldo.html', class=activePage === "guldo" ? "selected" : "" )
				| Guldo
			a.nav-item( href='/jeice.html', class=activePage === "jeice" ? "selected" : "" )
				| Jeice
			a.nav-item( href='/kai.html', class=activePage === "kai" ? "selected" : "" )
				| Kai
			a.nav-item( href='/kid-trunks.html', class=activePage === "kid-trunks" ? "selected" : "" )
				| Kid Trunks
			a.nav-item( href='/nappa.html', class=activePage === "nappa" ? "selected" : "" )
				| Nappa
			a.nav-item( href='/pan.html', class=activePage === "pan" ? "selected" : "" )
				| Pan
			a.nav-item( href='/radditz.html', class=activePage === "radditz" ? "selected" : "" )
				| Radditz
			a.nav-item( href='/recoome.html', class=activePage === "recoome" ? "selected" : "" )
				| Recoome
			a.nav-item( href='/roshi.html', class=activePage === "roshi" ? "selected" : "" )
				| Roshi
			a.nav-item( href='/yamcha.html', class=activePage === "yamcha" ? "selected" : "" )
				| Yamcha
			a.nav-item( href='/other.html', class=activePage === "other" ? "selected" : "" )
				| Other